body {
    background-color: #1E1E1E;
}

h1 {
    text-align: center;
    color: #FFFFFF;
}

.team-card {
    width: 500px;
    height: 100px;
    position: relative;
    margin: auto;
}

input[type=text] {
    width: 100%;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 0px;
    font-size: 3em;
    color: #FFFFFF;
    background-color: transparent;
}

.card-point {
    position: absolute;
    display: inline-block;
    right: 227px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: red;
    z-index: 1;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.button-wrapper {
    text-align: center;
}

button {
    width: 250px;
    height: 50px;
    border: none;
    font-size: 1.5em;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    color: #FFFFFF;
}

.add-btn {
    background-color: #00A885;
}

.shuffle-btn {
    background-color: #54ACD2;
}

.close-btn {
    background-image: url('./icons/close-icon.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    height: 30px;
    margin: 0px;
    position: absolute;
    right: 3px;
    top: 3px;
    line-height: normal;
}