.teamCard { /*similar styling to a button but this will change*/
    border: 1px solid black;
    width: 300px;
    height: 40px;
    margin: auto;
    position: relative;
    margin-bottom: 5px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.team-card:after {
    content: "";
    position: absolute;
    display: inline-block;
    right: 227px;
    bottom: -20px;
    width: 40px;
    height: 40px;
    background-color: red;
    z-index: 1;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
h1 {
    text-align: center;
}

.button-wrapper {
    text-align: center;
}

button {
    border: 1px solid black;
    width: 150px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.close-btn {
    border: 1px solid red;
    width: 20px;
    height: 20px;
    margin: 0px;
    position: absolute;
    left: 279px;
    top: -1px;
    line-height: normal;
}