.teamCard {
    border: 1px solid black;
    width: 300px;
    height: 40px;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

h1 {
    text-align: center;
}