body {
    background-color: #333333;
}

h1 {
    text-align: center;
}

.team-card {
    width: 500px;
    height: 100px;
    position: relative;
    margin: auto;
}

input[type=text] {
    width: 100%;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 0px;
    font-size: 3em;
    color: white;
}

.card-point {
    position: absolute;
    display: inline-block;
    right: 227px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: red;
    z-index: 1;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.button-wrapper {
    text-align: center;
}

button {
    border: 1px solid black;
    width: 150px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.close-btn {
    border: 1px solid red;
    width: 30px;
    height: 30px;
    margin: 0px;
    position: absolute;
    right: -1px;
    top: -1px;
    line-height: normal;
}